# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist

package-lock.json

.idea

dist.rar

# misc
.DS_Store
npm-debug.log*
