.logo {
  position: relative;
  height: 63px;
  padding-left: 10px;
  overflow: hidden;
  line-height: 63px;
  background: #002140;
  transition: all 0.3s;
  img {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    margin: 0 0 0 12px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    vertical-align: middle;
  }
}
.menu {
 box-shadow: 2px 0px 8px #aaa;
 z-index: 10;
}